* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1b91ff;
}

img {
  max-width: 100%;
}

#header {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff4258)), url("../images/bg-pattern-intro.svg") no-repeat center center/cover;
  background: linear-gradient(to right, #ff8f70, #ff4258), url("../images/bg-pattern-intro.svg") no-repeat center center/cover;
  padding: 2em 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  min-height: 35em;
  border-bottom-left-radius: 5em;
}

#navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logo {
  cursor: pointer;
}

.nav-wrap {
  position: absolute;
  top: 7em;
  left: 7.5%;
  right: 7.5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0.45em;
  -webkit-box-shadow: 0 8px 16px -5px #ccc;
          box-shadow: 0 8px 16px -5px #ccc;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.nav-wrap #main-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav-wrap .nav-item {
  margin-bottom: 0.75em;
}

.nav-wrap .nav-item .dropdown-nav {
  border-radius: 0.25em;
  background-color: #eee;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

.nav-wrap .nav-item .dropdown-nav li {
  margin-bottom: 0.25em;
}

.nav-wrap .nav-item .dropdown-nav li a {
  opacity: 0.7;
}

.nav-wrap .nav-item .dropdown-nav li a:hover {
  text-decoration: underline;
  color: #22222a;
  opacity: 1;
}

.nav-wrap .nav-link {
  color: #22222a;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.nav-wrap .nav-link:focus {
  opacity: 0.7;
}

.nav-wrap .nav-link:hover {
  text-decoration: underline;
}

.nav-wrap .nav-link .fas {
  color: #ff525d;
}

.nav-wrap .nav-link:focus + ul {
  padding: 1em 2.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

.nav-wrap .nav-link i {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.nav-wrap .nav-link:focus > i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-wrap #nav-btns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav-wrap #nav-btns a {
  margin-bottom: 0.75em;
}

.nav-wrap #nav-btns a.btn {
  width: 70%;
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-wrap.show-nav {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.hamburger {
  padding: 0.5em;
  cursor: pointer;
  background: transparent;
  border: none;
}

.hamburger:focus {
  outline: none;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 0.3em;
  border-radius: 10em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.hamburger.close #line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger.close #line2 {
  opacity: 0;
}

.hamburger.close #line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

.divider {
  background-color: #ccc;
  height: 1px;
  border-radius: 0.5em;
  width: 100%;
}

#header-content {
  padding: 5em 0 4em 0;
}

#header-text {
  margin-bottom: 2em;
}

#header-text h1 {
  font-size: 4.5vmax;
  color: white;
}

#header-text p {
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0.5em;
  text-align: center;
}

#header-btns a.btn {
  margin-bottom: 0;
  font-weight: 400;
}

#header-btns a.btn:first-child {
  margin-right: 0.5em;
}

#header-btns a.btn:last-child {
  margin-left: 0.5em;
}

.container {
  max-width: 85%;
  margin: auto;
}

.container-fluid {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  border-radius: 2em;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.btn-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff4258));
  background: linear-gradient(to right, #ff8f70, #ff4258);
  color: white;
}

.btn-light {
  background: white;
  color: #ff525d;
}

.btn-outline {
  border: 1px solid white;
  background: transparent;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
